<div class="container">
    <div class="col-md-12">

        <h3>Experimenting with Microservices using Docker:</h3>
        
        <div>
          <p>
            Docker has become the de-facto standard for containers.
          </p>
          <p>
            Netflix is really big in microservices.<br/>
            <a target="_blank" href="http://techblog.netflix.com/2014/11/zerotodocker-easy-way-to-evaluate.html">http://techblog.netflix.com/2014/11/zerotodocker-easy-way-to-evaluate.html</a>
          </p>
          <p>
            I'll put the Docker images here:<br/>
            <a target="_blank" href="https://hub.docker.com/explore/">https://hub.docker.com/explore/</a>
          </p>
        </div>
        <br/>

    </div>
</div>
