<div class="container">
    <div class="col-md-12">

        <h3>Technologies used in this app:</h3>
        <ul>
          <li>Angular 4</li>
          <li>Angular CLI</li>
          <li>Typescript</li>
          <li>RxJS Observables</li>
          <li>Bootstrap</li>
          <li>Material Design</li>
          <li>D3</li>
          <li>Ubuntu &amp; bash</li>
          <li>Firebase</li>
          <li>NoSQL</li>
          <li>Docker</li>
          <li>Git</li>
          <li>WebPack</li>
          <li>Gulp</li>
          <li>Google Compute Engine (ie, Cloud)</li>
        </ul>
        <br/>
        
        
<!--        
        <div>
          The source code for this site is stored in a private repo on Github. &nbsp; 
          Please send me your Github account - so I can grant you access to see the code. &nbsp; 
          If you'd like to see some additional technologies used here - please ask.
        </div>

        <br/>
        <h3 style="margin-bottom:0px">I obsessively train myself:</h3>
        <h5 style="margin-top:0px">( meaning I have a long commute - and use my time wisely <i class="fa fa-smile-o"></i> )</h5>
        <ul>
          <li><a href="http://www1.lehigh.edu/home">My Alma Mater - Lehigh University</a></li>
          <li><a href="https://www.udemy.com/user/alexs23/">Udemy.com - courses I've taken</a></li>
          <li><a href="https://app.pluralsight.com/id/profile/szarkaa">https://app.pluralsight.com/id/profile/szarkaa</a></li>
          <li><a href="https://egghead.io/">Egghead.io</a></li>
          <li><a href="https://www.hackerrank.com/developeralex">Best Certification in Javascript: HackerRank.com</a></li>
          <li><a href="#">MCP – passed C# ASP.Net exam (when .Net first came out)</a></li>
          <li><a href="https://www.linkedin.com/in/developeralex#recommendations">https://www.linkedin.com/in/developeralex#recommendations</a></li>
          <li><a href="https://angel.co/developeralex">https://angel.co/developeralex</a></li>
          <li><a href="http://stackoverflow.com/users/214648/developeralex ">http://stackoverflow.com/users/214648/developeralex</a></li>
          <li><a href="https://github.com/DeveloperAlex">https://github.com/DeveloperAlex</a></li>
          <li><a href="https://github.com/DeveloperAlex/Orders">My AngularJS (version 1) app</a></li>
          <li><a href="#"></a></li>
        </ul>
-->
    </div>
</div>
