<div class="container">
    <div class="col-md-12">

        <h3>Wish List ( {{ wishes?.length }} wishes )</h3>
        
        <div class="row">
            <!--Below is an example of a Template Reference Variable-->
            <!--https://angular.io/docs/ts/latest/guide/template-syntax.html#!#template-reference-variable-->
            <input #addwish type="text" autofocus placeholder="Wish to be added" maxlength="50" />
            <button (click)="addWish(addwish.value);addwish.value='';"
            [ngStyle]="{'cursor':addwish.value?'default':'not-allowed'}"
            [disabled]="!addwish.value" class="btn btn-default">Add Wish</button>
        </div>
        <br/>
        
        <div class="row">
            <div *ngFor="let w of wishes" class="col-md-12 wishrow">
                <!--<span>{{ c.$value }}</span>-->
                <i (click)="deleteWish(w.$key)" class="fa fa-trash" title="Delete {{w.wish}}"></i>&nbsp;
                <!--<i (click)="editWish(w.$key, 'updated wish')" class="fa fa-pencil" title="Edit Coming Soon"></i>&nbsp;-->
                <i (click)="showEdit(w,true)" class="fa fa-pencil" title="Edit {{w.wish}}"></i>&nbsp;
                <span (click)="showEdit(w,true)" *ngIf="!w.editable">SHOW: {{ w.wish }}</span>
                <span (click)="showEdit(w,false)" *ngIf="!!w.editable">EDIT: {{ w.wish }} <button (click)="editWish(w.$key, 'updated wish')">Update</button></span>
            </div>
        </div>
<br/>
<br/>

<!--<div class="panel panel-default">-->
<!--  <div class="panel-heading">-->
<!--    <h3 class="panel-title">Panel title</h3>-->
<!--  </div>-->
<!--  <div class="panel-body">-->
<!--    Panel content-->
<!--  </div>-->
<!-- -->
<!--  <div class="panel-footer"></div>-->
<!-- -->
<!--</div>-->

<hr/>
{{wishes | json}}
<hr/>


<br/>



    </div>
</div>
