<div class="row">
    <div class="col-md-12">

        <h3>Wish List ( {{ cuisines?.length }} wishes )</h3>

        <!--[ngClass]="{'md-btn md-btn-success': addwish.value, 'md-btn disabled': !addwish.value }"-->
        <!--[ngStyle]="{'visibility':addwish.value?'visible':'hidden'}"-->

        <div>
            <button (click)="addWish(addwish.value);addwish.value='';"
            [ngStyle]="{'cursor':addwish.value?'default':'not-allowed'}"
            [disabled]="!addwish.value">Add Wish</button>
            <input #addwish type="text" autofocus placeholder="Wish to be added" maxlength="50" />
            <!--Above is an example of a Template Reference Variable-->
            <!--https://angular.io/docs/ts/latest/guide/template-syntax.html#!#template-reference-variable-->
        </div>
        <br/>
        
        <ul>
            <li *ngFor="let c of cuisines">
                <!--<span>{{ c.$value }}</span>-->
                <span>{{ c.$value }}</span>
            </li>
        </ul>

    </div>
</div>
