<div class="container">
    <div class="col-md-12">

        <h3>Wish List ( {{ wishes?.length }} wishes )</h3>
        
        <div class="row">
            <!--Below is an example of a Template Reference Variable-->
            <!--https://angular.io/docs/ts/latest/guide/template-syntax.html#!#template-reference-variable-->
            <input #addwish type="text" autofocus placeholder="Add a Wish" maxlength="50" />
            
            <!--<button (click)="addWish(addwish.value);addwish.value='';"-->
            <!--[ngStyle]="{'cursor':addwish.value?'default':'not-allowed'}"-->
            <!--[disabled]="!addwish.value" class="btn btn-default" ressec="{type:'save'}">Add Wish</button>-->
            <button (click)="addWish(addwish.value);addwish.value='';"
            class="btn btn-default" ressec="{type:'save'}">Add Wish</button>
            
        </div>
        <br/>
        
        <div class="row">
            <div *ngFor="let w of wishes" class="col-md-12 wishrow">
                
                <i (click)="deleteWish(w.$key)" class="fa fa-trash" title="Delete {{w.wish}}"></i>&nbsp;
                <i (click)="showEdit(w)" class="fa fa-pencil" title="Edit {{w.wish}}"></i>&nbsp;
                
                <span (click)="showEdit(w)" *ngIf="!w.editable">{{w.wish}}</span>
                <span *ngIf="!!w.editable">
                    <input type="text" [(ngModel)]="w.wish" />
                    <button (click)="editWish(w, w.$key, 'updated wish')">Update</button>
                    <button (click)="cancelWish(w)">Cancel</button>
                </span>

            </div>
        </div>
        
        <br/>
        <br/>
        <hr/>
        {{wishes | json}}
        <hr/>
        <br/>

    </div>
</div>
