<h1>
  {{title}}
</h1>

<!--<ul>-->
<!--    <li *ngFor="let c of cuisines">{{ c.$value }}</li>-->
<!--</ul>-->

<a routerLink="/" routerLinkActive="route-selected" [routerLinkActiveOptions]="{exact:true}">Home Page</a> &nbsp; 
<a routerLink="/netflixlist" routerLinkActive="route-selected">Netflix List</a> &nbsp; 
<a routerLink="/wishlist" routerLinkActive="route-selected">Wish List</a>


<!--<div>-->
<!--  <da-netflix-list></da-netflix-list>-->
<!--</div>-->

<!--<div>-->
<!--  <da-wish-list></da-wish-list>-->
<!--</div>-->


<router-outlet></router-outlet>
