<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="nav navbar-header navbar-left navbar-brand">Lots of Lists App</div>
        <ul class="nav navbar-left nav-pills">
            <li class="active" data-toggle="pill" routerLink="/home" routerLinkActive="route-selected" [routerLinkActiveOptions]="{exact:true}"><a>Home</a></li>
            <!--<li class="active"><a ui-sref="logoutAuth0">Logout</a></li>-->
            <!--<li ng-hide="true"><a ui-sref="user({ username: 'bob' })">user bob</a></li>-->
            <!--<li ng-hide="true" ng-click="app.orderClicked = !app.orderClicked;" ng-class="{'active':app.orderClicked}"><a ui-sref="order">Order</a></li>-->
            <li data-toggle="pill" style="color: #0daef8; padding: 10px 15px">{{title}}</li>
        </ul>
        <ul class="nav navbar-right nav-pills">
            <li class="active" data-toggle="pill" routerLink="/wishlist" routerLinkActive="route-selected"><a>Wish List</a></li>
            <li class="active" data-toggle="pill" routerLink="/netflixlist" routerLinkActive="route-selected"><a>Netflix List</a></li>
            <li class="active" data-toggle="pill" routerLink="/chat" routerLinkActive="route-selected"><a>Group Chat</a></li>
            <li class="active" data-toggle="pill" routerLink="/docker" routerLinkActive="route-selected"><a>Docker</a></li>
            <li class="active" data-toggle="pill" routerLink="/about" routerLinkActive="route-selected"><a>About</a></li>
            
            <!--<li ng-hide="true"><a ui-sref="loginPassport"><i class="fa fa-user"></i>Login Passport</a></li>-->
            <!--<li ng-hide="true"><a ui-sref="logoutPassport"><i class="fa fa-user"></i>Logout Passport</a></li>-->
            <!--<li ng-hide="true"><a ui-sref="signupPassport"><i class="fa fa-user"></i>SignUp Passport</a></li>-->
            <!--<li ng-hide="true"><a ui-sref="page2"><i class="fa fa-cog"></i>Setting</a></li>-->
            <!--<li class="active"><a ><i class="fa fa-users"></i>Employees</a></li>-->
        </ul>
    </div>
</nav>
<br/><br/>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>
              {{title}} <i class="fa fa-check"></i>
            </h1>
            
            <!--<ul>-->
            <!--    <li *ngFor="let c of cuisines">{{ c.$value }}</li>-->
            <!--</ul>-->
            
            <!--<a routerLink="/" routerLinkActive="route-selected" [routerLinkActiveOptions]="{exact:true}">Home Page</a> &nbsp; -->
            <!--<a routerLink="/netflixlist" routerLinkActive="route-selected">Netflix List</a> &nbsp; -->
            <!--<a routerLink="/wishlist" routerLinkActive="route-selected">Wish List</a>-->
            
        
            
            <!--<div>-->
            <!--  <da-netflix-list></da-netflix-list>-->
            <!--</div>-->
            
            <!--<div>-->
            <!--  <da-wish-list></da-wish-list>-->
            <!--</div>-->
            

            <div class="row">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
            
            <br />
            <br />
            <br />
            <alert type="success" dismissOnTimeout="5000" dismissible="true">Welcome to Many Lists app - Check out Wish List</alert>
            
            
            <da-spinner></da-spinner>
            <!--<div class="spinme" *ngIf="true">-->
            <!--    <md-spinner></md-spinner>-->
            <!--</div>-->
            <!--<md-progress-circle class="spinme" [mode]="indeterminate" [color]="primary"></md-progress-circle>-->
            
            
        </div>
    </div>
</div>
