.plz {
    animation-name: plzanimated;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    -moz-animation-name: plzanimated;
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    
    -webkit-animation-name: plzanimated;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes plzanimated {
    from {background-color: orange;}
    to {background-color: yellow;}
}

@-moz-keyframes plzanimated {
    from {background-color: orange;}
    to {background-color: yellow;}
}

@-webkit-keyframes plzanimated {
    from {background-color: orange;}
    to {background-color: yellow;}
}
